
.home {
    display: flex;
    justify-content: center;
}
.home-content {
    margin: 150px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0px 120px;
    width: 60%;
}

.home-content h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 109px;
    color: white;
}

.home-content h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: white;
}

.right-img {
    align-self: flex-end;
}

.left-img {
    align-self: start;
}